<%- include('partials/header', { page: '', pageGroup: '' }) %>


<div class="text-center mt-5 fade-in">
  <h1 class="display-1">404</h1>
  <h2 class="mb-4">Oups... Page non trouvée</h2>
  <p>La page que vous cherchez n'existe pas ou a été déplacée.</p>
  <a href="/dashboard" class="btn btn-primary mt-3">Retour à l'accueil</a>
</div>

<%- include('partials/footer') %>
